.red{color: red;}
.bold{font-weight: bold;}
.Cockpit button{background:green; color:white; padding:8px 15px; border:'0'}
.Cockpit button:hover{background: #ddd; color: #fff;}
.Cockpit button.red{background: red;}